<div class="focus-trap" tabindex="0" (focus)="focusLast()"></div>

<div #modalDialog (keyup)="closeWithEscape($event)" class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" data-backdrop="true">
    <div class="modal-content">
      <div class="modal-header">
        <button #close type="button" class="close" (click)="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Test Modal</h4>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laudantium eos facilis. Qui quisquam quo nostrum ad tempora aperiam magnam perferendis reprehenderit, autem sequi optio esse porro expedita aliquam voluptatibus.
      </div>
      <div class="modal-footer">
        <a #save role="button" routerLink="/" class="btn btn-primary">Save changes</a>
      </div>
    </div>
  </div>
</div>

<div class="focus-trap" tabindex="0" (focus)="focusFirst()"></div>
