<div class="container-fluid">
  <div class="hideable" [class.bleached]="hideContent" [attr.aria-hidden]="hideContent">
    <app-page-header></app-page-header>
    <app-page-teaser></app-page-teaser>
  </div>

  <!-- Only Modal should be visible -->
  <router-outlet></router-outlet>

  <div class="hideable" [class.bleached]="hideContent" [attr.aria-hidden]="hideContent">
    <app-page-footer></app-page-footer>
    <pre>{{hideContent}}</pre>
  </div>
</div>
