<div class="jumbotron">
  <div class="container">
      <h1>Modal Modal!</h1>
      <p>Some sample content that needs to be hidden (visually and for assistive technologies)</p>
      <p><a class="btn btn-primary btn-lg" routerLink="/open-modal" role="button">Show Modal</a></p>
  </div>
</div>
